/.idea/
/app/kernels/
.vercel/
/node_modules/
/dist/
/**/__pycache__/
**/kernels
/*.tsbuildinfo
.turbo/
/space-data-service.cjs
/space-data-service.d.ts
/space-data-service.js
/space-data-service.*js.map
