/.idea/
.vercel/
/node_modules/
/dist/
**/__pycache__/
**/kernels
/*.tsbuildinfo
.turbo/
/space-data-service.cjs
/space-data-service.d.ts
/space-data-service.js
/space-data-service.*js.map

# never commit deployment-specific files
**/.env
/app/api/users.json
/app/ssl.subj
/app/cert.pem
/app/key.pem
/app/astropy/
/lib/client/
